*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: Yekan;
    src: url('../../fonts/IRANYekanWeb.eot');
    src: url('../../fonts/IRANYekanWeb.ttf');
    src: url('../../fonts/IRANYekanWeb.woff');
    src: url('../../fonts/IRANYekanWeb.woff2');
}
div.wrapper{
    width: 100%;
}
:root{
    --header:170px;
}